
// Job paramaters to set for this environment

params {
  max_cpus = 24
  max_ram = 240
  g1k = "/work_beegfs/ikmb_repository/references/g1k/GRCh38_NYGC/CCDG_13607_B01_GRM_WGS_2019-02-19.recalibrated_variants.ALL_autosomal.xGen_v2.vcf.gz"
  pops = "/work_beegfs/ikmb_repository/references/g1k/GRCh38/CCDG_13607_B01_GRM_WGS_2019-02-19.recalibrated_variants.ALL_autosomal.xGen_v2.pops"
  admix_ref = "/work_beegfs/ikmb_repository/references/g1k/GRCh38_NYGC/refPanel_g1k_grch38_autosomal_no-relations.txt"
  admix_freq = "/work_beegfs/ikmb_repository/references/g1k/GRCh38_NYGC/refPanel_g1k_grch38_autosomal_no-relations.freqs"
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'

}

singularity {
  enabled = true
  runOptions = "-B /work_beegfs -B /scratch"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}

