params.admix_ref = "${baseDir}/assets/panels/refPanel_g1k_grch38_autosomal_no-relations.txt"
params.admix_freq = "${baseDir}/assets/panels/refPanel_g1k_grch38_autosomal_no-relations.freqs"
params.admix_ref_super = "${baseDir}/assets/panels/refPanel_g1k_grch38_autosomal_no-relations.superpop.txt"
params.admix_freq_super = "${baseDir}/assets/panels/refPanel_g1k_grch38_autosomal_no-relations.superpop.freqs"
